<template>
  <div id="add-to-cart-pop-up">

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" v-if="item && item.short_name">

          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Item to Cart</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">

            <div class="row">

              <div class="col-3 item-img">
                <img :src="'https:'+item.image_url" height="300" width="310">
              </div>

              <div class="col-9">

                <div class="col-12 item-brand">
                  <div>{{ item.brand_new }}</div>
                </div>

                <div class="col-12 item-name">
                  <div>{{ item.short_name }}</div>
                </div>

                <div class="col-12 item-default-price">
                  <div>
                    <span>
                      {{ selectedItem.special_price ? selectedItem.special_price : item.price[currency].default_formated }}

                      <span v-if="selectedItem.special_price">{{ currency }}</span>
                    </span>

                    <span class="item-original-price">
                      {{ selectedItem.regular_price ? selectedItem.regular_price : item.price[currency].default_original_formated }}
                      <span v-if="selectedItem.regular_price">{{ currency }}</span>
                    </span>

                  </div>
                </div>

                <div class="col-12 item-view-product-details">
                  <div>View Product Details</div>
                </div>

              </div>

              <div class="col-xs-12 item-size" v-if="item.associated_products.length">

                <div class="row">
                  <div class="">Size</div>

                  <div class="col-2 item-size-btn" v-for="(i, key) in item.associated_products" :key="key" :class="i.associated_sku" @click="toggleSize(i)">
                    {{i.option.size}}
                  </div>
                </div>

              </div>

            </div>

          </div>
          <div class="modal-footer">
            <div class="item-button">
              <button type="button">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</template>
<script>
import $ from 'jquery'

export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      currency: 'SAR',
      selectedItem: {}
    }
  },
  methods: {
    toggleSize(i) {
      $('.item-size-btn').removeClass('active')
      this.selectedItem = i;
      $('.' + i.associated_sku).addClass('active');
    }
  }
}
</script>
<style lang="scss" scoped>
#add-to-cart-pop-up {

  h5 {
    font-size: 14px;
    font-weight: bold;
  }

    .item-img {
      img {
        mix-blend-mode: darken;
        width: 90px;
        height: auto;
      }
    }


    .item-brand {
      font-size: 14px;
      font-weight: bold;
      color: black;
      text-transform: uppercase;
      margin-top: 10px;
    }

    .item-name {
      font-size: 12px;
      color: #7d7d7d;
      margin-top: 5px;
    }

    .item-default-price {
      font-size: 16px;
      font-weight: bold;
      color: #ff0000;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    .item-original-price {
      color: black;
      font-weight: bold;
      font-size: 12px;
      color: #3d3d3d;
      text-decoration: line-through;
    }

    .item-view-product-details {
      font-size: 12px;
      font-weight: bold;
      color: #007aff;
      cursor: pointer;
    }

    .item-size {


      .col-2 {
        border-radius: 6px;
        padding: 5px 10px;
        text-align: center;
        color: black;
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
        background-color: #f9f9f9;
        margin: 10px 5px 5px 10px;
      }
      .col-2.active {
        border: solid 2px #000000;
        background-color: #f9f9f9;
      }
    }


    .item-button {
      margin-top: 20px;
      button {
        position: absolute;
        bottom: 20px;
        left: 20px;
        border-radius: 8px;
        background-color: black;
        padding: 6px 8px;
        font-size: 14px;
        color: white;
        width: calc(100% - 40px);
        outline: 0;
        border: none;
      }

    }

}
</style>
