<template>
  <div id="item-card">

    <div class="row">

      <div class="col-xs-12 item-exclusive">
        <div>Exclusive</div>
      </div>

      <div class="col-sm-12 item-img">
        <img :src="'https:'+item.image_url" height="300" width="310">
      </div>

      <div class="col-xs-12 item-brand">
        <div>{{ item.brand_new }}</div>
      </div>

      <div class="col-xs-12 item-name">
        <div>{{ item.short_name }}</div>
      </div>

    </div>


    <div class="row">

      <div class="col-xs-12 item-default-price">
        <div>{{ item.price[currency].default_formated }}</div>
      </div>

    </div>

    <div class="row">
      <div class="col-6 item-original-price">
        <div>{{ item.price[currency].default_original_formated }}</div>
      </div>
      <div class="col-6 item-save">
        <div v-if="item.price[currency].default < item.price[currency].default_original">Save {{ (item.price[currency].default_original - item.price[currency].default) }} {{ currency }}</div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 item-button">
        <button @click="openPopupAddtoCart(item)" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" name="button">Add</button>
      </div>
    </div>

  </div>
</template>
<script>


export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      currency: 'SAR'
    }
  },
  methods: {
    openPopupAddtoCart(item) {
      this.$emit('clicked', item)
    }
  }
}
</script>
<style lang="scss" scoped>
#item-card {
  height: 390px;
  background-color: #f9f9f9;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;

  .row {

    .item-exclusive {
      border-radius: 12px;
      border: solid 1px black;
      width: fit-content;
      div {
        padding: 3px 6px;
        font-size: 11px;
        font-weight: bold;
        color: black;
        text-transform: uppercase;
        @media (max-width: 767px) {
          font-size: 10px;
        }
      }
    }

    .item-img {
      text-align: center;
      img {
        mix-blend-mode: darken;
        width: 160px;
        height: auto;
        margin: 10px auto;
      }
    }


    .item-brand {
      font-size: 14px;
      font-weight: bold;
      color: black;
      text-transform: uppercase;
      margin-top: 10px;
    }

    .item-name {
      font-size: 12px;
      color: #7d7d7d;
      margin-top: 5px;
    }

    .item-default-price {
      font-size: 16px;
      font-weight: bold;
      color: #ff0000;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    .item-original-price {
      // margin-top: 5px;
      color: black;
      font-weight: bold;
      font-size: 12px;
      color: #3d3d3d;
      text-decoration: line-through;
    }

    .item-save {
      font-size: 12px;
      color: black;
      text-align: right;
    }


    .item-button {

      button {
        position: absolute;
        bottom: 20px;
        left: 20px;
        border-radius: 8px;
        background-color: black;
        padding: 6px 8px;
        font-size: 14px;
        color: white;
        width: calc(100% - 40px);
        outline: 0;
        border: none;
      }

    }
  }

}
</style>
