<template>
    <div id="app">
      <div class="container">

        <!-- Spinner Start -->
        <spinner v-if="showSpinner"/>
        <!-- Spinner End -->

        <div class="row">
          <div class="col-xs-12 col-md-3" v-for="(item, key) in products" :key="key">
            <!-- Product Start -->
            <product-card @clicked="openPopupAddtoCart" :item="item"/>
            <!-- Product End -->
          </div>
        </div>

      </div>

      <!-- Add To Cart Popup Start -->
      <add-to-cart-popup :item="selectedItem"/>
      <!-- Add To Cart Popup End -->

    </div>
</template>

<script>
import axios from 'axios' //Import Axios
import Spinner from './components/Spinner.vue' //Import Lazy Load Spinner
import ProductCard from './components/ProductCard.vue' //Import Product Card
import AddToCartPopup from './components/AddToCartPopup.vue' //Import Add To Cart Popup

export default {
  name: 'App',
  data () {
    return {
      showSpinner: true,
      products: {},
      selectedItem: {}
    }
  },
  components: {
    Spinner,
    ProductCard,
    AddToCartPopup
  },
  methods: {
    openPopupAddtoCart (item) {
      this.selectedItem = item
    },
    spinnerUpdate(value) {
      this.showSpinner = value;
    },
    getProducts() {

      let vm = this;

      this.spinnerUpdate(true)

      axios.get('https://gs-euw1-public-data-prod.s3-eu-west-1.amazonaws.com/new-web/test/test.json').then(function (r) {

        if(r.data && r.data.hits) {
          vm.products = r.data.hits
          vm.spinnerUpdate(false)
        }

      }).catch(function () {
        // console.log(err);
      })


    }
  },
  mounted() {
    this.getProducts();
  }
}
</script>

<style>
html, body, #app {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    margin: 4rem 0 4rem 0;
    padding: 0;
}
</style>
